@page
@model HospiEnCasaMascotas.App.Frontend.Pages.VistaDoctorModel
@{
    ViewData["Title"] = "Veterinario";
}
<style type="text/css">

#contenedor-R-form-izq{
    background-color: #fff;
    width: 60px;
    height: 266px;
    margin: 40px;
    padding: 5px;
    color: "#006699";
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
    float:left;
}

#contenedor-R-form-der{
    background-color: #fff;
    max-width: 680px;
    height: 266px;
    margin: 40px;
    padding: 50px;
    color: "#006699";
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
    float:left;
}

#Contenedor-R-form h2{
    margin: 100px;
    font-size: 22px;
    color:"#006699";
    padding: 10px;
}

#contenedor-R-form .form-group{
	margin-bottom: 20px;
    margin-left:20px;
    margin: 20px;
	width: 100%;
    float:left;
    text-align: left;
}

#Contenedor-R-form .btn{
    width: 56%;
    margin: 20px auto 0;
    display: block;
    outline: none;
}

.btn-left{
        background-image:url(/images/veterinario.png);
        background-repeat:no-repeat;
        height:60px;
        width:70px;
        background-position:center;
        border: none;
    }
</style>

<div class="d-flex justify-content-star">
<h2>Bienvenido Doctor...</h2>
</div>

<div class="container">
  <div class="container" id="contenedor-R-form-izq">
      <form class="form-center mt-5 d-flex flex-column justify-content-center">   
            <div class=form-group>
                <div class="d-flex justify-content-center">
                 <input type="image" src="/images/veterinario.png" width="100%" height="auto" />
                </div>
            </div>
            <div class=form-group>
                <div class="d-flex justify-content-center">
                 <input type="image" src="/images/ubicacion.png" width="100%" height="auto" />
                </div> 
            </div>
            <div class=form-group>
                <div class="d-flex justify-content-center">
                 <input type="image" src="/images/veterinaria.png" width="100%" height="auto" />
                </div>
            </div>
     </form> 
  </div>
   
  <div class="container" id="contenedor-R-form-der">
      <form class="form-center mt-5 d-flex flex-column justify-content-center">   
            
            <div class="row">

                 <div class="form-group col">
                     <div class="d-flex justify-content-center">
                        <button class="btn btn-lg btn-secondary" type="button">Historia Clinica</button>
                        </div>
                 </div>

                  <div class="form-group col">
                      <div class="d-flex justify-content-center">
                      <button class="btn btn-lg btn-secondary" type="button">Signo Vital</button>
                      </div>
                  </div>

            </div>
      </form>
  </div> 

</div>