﻿:root {
  --fuenteHeading: "Roboto", sans-serif;
  --fuenteParrafos: "Open Sans", sans-serif;
  --fuenteLogo: "Lobster", cursive;
  --gray: #e1e1e1;
  --white: #f8f8f8;
  --black: #0f0f0f;
  --veryDarkBlue: #112031;
  --LightCyan: #d4ecdd;
}
html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 2;
  background-image: url(../images/borna-bevanda-w12NAMymqnk-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* Globales */
.contenedor {
  max-width: 120rem;
  width: 90%;
  width: min(
    90%,
    120rem
  ); /* es igual a la propiedad definida en las lineas de arriba */
  height: 90vh;
  margin: 0 auto;
  display: flex;
  align-items: center; /* vertical */
  /* justify-content: center; horizontal */
}
/* Utilidades */
.btn{
  font-weight: bold;
  text-transform: uppercase;
  
}
.btn-link{
  background-color: #d4ecdd;
  color: #0f0f0f;
  outline: 0;
  border-color: none!important;
  border-top-color: none!important;
  border-right-color: none!important;
  border-bottom-color: none!important;
  border-left-color: none!important;
  outline-color: 0;
}
.btn-link:hover{
  background-color: #d4ecdd;
  color: #0f0f0f;
  filter: brightness(80%);
  text-decoration: none!important;
}
.btn-secondary {
  background-color: #152d35;
  color: #f8f8f8;
  border-color: none!important;
}
.btn-secondary:hover{
  background-color: #152d35;
  filter: brightness(80%);
}
.filter{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.54);
  -moz-box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.54);
  box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.54);
}
/* Navbar */
.navbar {
  background-color: transparent !important;
  padding: 8px 0 8px 0;
}
.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: var(--white) !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-brand span {
  color: #112031 !important;
}


/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  line-height: 60px; /* Vertically center the text there */
}