@page
@model HospiEnCasaMascotas.App.Frontend.Pages.Vet.ActualizarVModel
@{
    ViewData["Title"] = "Actualizar Veterinario";
    @* Layout = "~/Pages/Shared/_LayoutVet.cshtml"; *@
}
<style type="text/css">
    body {
        background-image: url(/images/registry.jpg);
    }

    .form-img {
        background-image: url(/images/form-back.png);
        height: 7rem;
        background-size: cover;
        background-position: center center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
    }

    .form-img::before {
        position: absolute;
        content: '';

        background-color: white;
        height: 5rem;
        width: 60%;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -10%);
        border-top-left-radius: 70%;
        border-top-right-radius: 70%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .form-styled {
        border-radius: 10px;
        max-width: 40vw;
        max-height: 80vh;
        background-color: white;
    }

    .form-center {
        padding: 3%;
    }

    #contenedor-R-form {
        background-color: #fff;
        max-width: 740px;
        margin: 10px auto 0;
        padding: 0;
        color: "#006699";
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin-bottom: 5rem;
    }

    #Contenedor-R-form h2 {
        margin: 100px;
        font-size: 22px;
        color: "#006699";
    }

    #contenedor-R-form .form-group {
        margin-bottom: 20px;
        margin-left: 20px;
        margin: 20px;
        width: 100%;
        float: left;
        text-align: left;
    }

    #Contenedor-R-form .btn {
        width: 56%;
        margin: 20px auto 0;
        display: block;
        outline: none;
    }
</style>
<form class="form-center mt-5 d-flex flex-column justify-content-center" method="post">
<div class="form-group col">
        @* <label asp-for="veterinario.Id" type="Hidden">ID </label>         *@
        <input asp-for="veterinario.Id" class="form-control" placeholder="" required="required" readonly type="hidden">
    </div>
<div class="container" id="contenedor-R-form">
    <div class="form-img"></div>
        <h2 class="form-center mt-5 d-flex flex-column justify-content-center" >Datos del Veterinario</h2>
        <div class="row">

            <div class="form-group col">
                <label asp-for="veterinario.Nombre">Nombre </label>
                <input asp-for="veterinario.Nombre" class="form-control" placeholder="Ingresa tu Nombre" required="required">
            </div>
            <div class="form-group col">
                <label asp-for="veterinario.Apellidos">Apellido </label>
                <input asp-for="veterinario.Apellidos" class="form-control" placeholder="Ingresa tu Apellido" required="required">
            </div>
        </div>
        <div class="row">

            <div class="form-group col">
                <label asp-for="veterinario.NumeroTelefono">Teléfono </label>
                <input asp-for="veterinario.NumeroTelefono" class="form-control" placeholder="Ingresa tu Teléfono" required="required">
            </div>
            <div class="form-group col">

            </div>
        </div>
        @* <div class="row">
            <div class="form-group col">
                <label asp-for="veterinario.correo">Email </label>
                <input asp-for="veterinario.correo" class="form-control" placeholder="Ingresa tu Correo" required="required" readonly>
            </div>
            <div class="form-group col">
                <label asp-for="veterinario.contraseña">Contraseña </label>
                <input asp-for="veterinario.contraseña" class="form-control" required="required" placeholder="Ingresa tu contraseña" readonly>
            </div>
        </div> *@
        <div class="row">
            <div class="form-group col">
                <label asp-for="veterinario.Genero">Genero</label>
                <select class="form-control" asp-for="veterinario.Genero" id="SelectGenero" required="required">
                    <option disabled selected>Selecciona tu Genero</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                    <option>No Especifica</option>
                </select>
            </div>
            <div class="form-group col">
                <label asp-for="veterinario.NumPermiso">Numero Permiso </label>
                <input asp-for="veterinario.NumPermiso" class="form-control" placeholder="Ingresa Numero de Permiso" required="required">
            </div>
        </div>

        <div class="row">

            <div class="form-group col">
                <label asp-for="veterinario.especialidad">Especialidad </label>
                <input asp-for="veterinario.especialidad" class="form-control" placeholder="Ingresa la Especialidad" required="required">
            </div>
            <div class="form-group col">

            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-lg btn-secondary" type="submit">Actualizar</button>
        </div>
    </form>

</div>