@page
@model HospiEnCasaMascotas.App.Frontend.Pages.Vet.HistoriaClinicaModel
@{
    ViewData["Title"] = "HistoriaClinica";
    Layout = "~/Pages/Shared/_LayoutVet.cshtml";
}
<div class="container">
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Id</th>
      <th scope="col">Diagnostico</th>
      <th scope="col">Descripción</th>
      <th scope="col">Sugerencias</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>