@page
@model HospiEnCasaMascotas.App.Frontend.Pages.Vet.MascotaPacienteModel
@{
    ViewData["Title"] = "MascotaPaciente";
}

<style type="text/css">

#contenedor-R-form-izq{
    background-color: #fff;
    width: 90px;
    height: 316px;
    margin: 40px;
    padding: 10px;
    color: "#006699";
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
    float:left;
}

#contenedor-R-form-der{
    background-color: #fff;
    max-width: 680px;
    margin: 40px;
    padding: 10px;
    color: "#006699";
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
    float:left;
}

#Contenedor-R-form h2{
    margin: 100px;
    font-size: 22px;
    color:"#006699";
    padding: 10px;
}

#contenedor-R-form .form-group{
	margin-bottom: 20px;
    margin-left:20px;
    margin: 20px;
	width: 100%;
    float:left;
    text-align: left;
}

#Contenedor-R-form .btn{
    width: 56%;
    margin: 20px auto 0;
    display: block;
    outline: none;
}

.btn-left{
        background-image:url(/images/veterinario.png);
        background-repeat:no-repeat;
        height:60px;
        width:70px;
        background-position:center;
        border: none;
    }
</style>

<div class="d-flex justify-content-star">
<h2>Bienvenido Doctor...</h2>
</div>

<div class="d-flex justify-content-center">
      <h2>Mascota Paciente</h2>
   </div>

<div class="container">
  <div class="container" id="contenedor-R-form-izq">
      <form class="form-center mt-5 d-flex flex-column justify-content-center">   
            <div class=form-group>
                <input type="image" src="/images/veterinario.png" width="90%" height="auto" />
            </div>
            <div class=form-group>
                <input type="image" src="/images/ubicacion.png" width="90%" height="auto" />
            </div>
            <div class=form-group>
                <input type="image" src="/images/veterinaria.png" width="90%" height="auto" />
            </div>
     </form> 
  </div>
   
  <div class="container" id="contenedor-R-form-der">
      <form class="form-center mt-5 d-flex flex-column justify-content-center">   
            <div class="row">

    <div class="form-group col">
        <label for="inputDireccion">Direccion </label>        
        <input type="text" class="form-control" placeholder="Ingresa tu Direccion">
    </div>   
     <div class="form-group col">
         <label for="inputLatitud">Latitud </label>
         <input type="number" class="form-control" placeholder="Ingresa Latitud">            
    </div>
 </div>
 <div class="row">
    <div class="form-group col">
        <label for="inputLongitud">Longitud </label>
        <input type="number" class="form-control" placeholder="Ingresa Longitud">
    </div>
    <div class="form-group col">
         <label for="inputCiudad">Ciudad </label>
         <input type="text" class="form-control" placeholder="Ingresa tu Ciudad">       
    </div>
    
 </div>
     </form> 
     <div class="d-flex justify-content-center">
                <button class="btn btn-lg btn-secondary" type="button">Ingresar</button>
            </div>
  </div> 

</div>

