@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<style>
    .landing-text{
        padding-top: 10rem;
        width: 30rem;
    }
    .title-index{
        color: #f8f8f8;
    }
    .subtitle-index{
        color: #345B63;
    }
    .form-index{
        padding-top: 8rem;
    }
</style>
<div class="landing-text">
    <div>
        <h1 class="title-index">"Un lugar para tu mascota" </h1>
        <p class="subtitle-index">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vulputate feugiat sapien nec tincidunt.
        </p>
    </div>
    <form class="form-inline form-index">
        <button class="btn btn-link mr-3" type="button">Contactenos</button>
        <button class="btn btn-secondary" type="button">Registro</button>
    </form>

</div> 