@page
@model HospiEnCasaMascotas.App.Frontend.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<style type="text/css"> 
body{
    background-image: url(/images/about.jpg);
}

</style>
<div>
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">ESPECIALIDADES</div>
        <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">SERVICIOS</div>
        <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">CONTACTO</div>
        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div> 
